:root {
  // body text
  --color-body: #000;
  // Colors
  --color-primary: #5dc9dc;
  --color-positive: #5ddc9a;
  --color-negative: #e37e67;
  // --color-primary: #cc7d6e;
  --color-accent: #f39b83;
  --color-accent: #cc7d6e;
  --color-accent: #a0dae4;
  --color-accent: #8a005a;
  // --color-accent       : #A0DAE4;
  --color-blue: #a0dae4;
  --color-white: #fff;
  --color-block: #fff;

  // Widths and heights
  --max-width-container: 1300px;
  --grid-default-gap-horizontal: 30px;
  --grid-default-gap-vertical: 30px;

  // color pallet --- huisstijl hs
  // create lighter and darker versions https: //www.htmlcsscolor.com/hex/A0DAE4
  --hs-blue: #a0dae4;
  --hs-blue-dark: #80aeb6;
  --hs-blue-light: #b3e1e9;
  --hs-purple: #8a005a;
  --hs-purple-dark: #6e0048;
  --hs-purple-light: #a1337b;
  --hs-purple-lighter: #b45c95;
  --hs-brown: #cc7d6e;
  --hs-brown-dark: #a36458;
  --hs-brown-light: #d6978b;
  --hs-nude: #f39b83;
  --hs-nude-dark: #c27c69;
  --hs-nude-light: #f5af9c;
}

//@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  // font-family: "Nunito", sans-serif;
  font-family: "Montserrat", sans-serif;
  color: var(--color-body);
  scroll-behavior: smooth;

  line-height: 1.2em;
  // background-color   : var(--hs-purple);
  // color           : white;

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  // Reset headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
  }
}

// Standard styling for form elements
input,
textarea {
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  font-family: inherit;
  display: block;
  width: 100%;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: underline;
}
