@import "../../styles/imports/index.scss";

.footer {
  background-color: var(--color-accent);
  color: var(--color-white);

  .footerContainer {
    grid-template-columns: 1fr;

    @include mq-up(960px) {
      grid-template-columns: fit-content(1px) auto fit-content(1px);
    }

    display: grid;

    align-items: center;

    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 1rem;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      li {
        white-space: nowrap;
        a {
          display: inline-block;
        }
      }
    }

    .social {
      ul {
        display: flex;
        justify-content: center;
        @include mq-up(960px) {
          justify-content: flex-end;
        }
        li {
          &:first-child {
            margin-right: 0.8rem;
          }
          a {
            padding: 0.8rem;
          }
        }
      }
    }
    .nav {
      margin: 0 auto;
      ul {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        li {
          a {
            padding: 0.8rem;
          }
        }
      }
    }
    .paymentMethods {
      ul {
        justify-content: center;
        @include mq-up(960px) {
          justify-content: flex-end;
        }
        li {
          padding: 0.8rem;
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    padding: 1rem 1rem 3rem;
  }
}
