@import "client/styles/imports/index.scss";

.navContainer {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

  .logo {
    height: 30px;
    margin: auto 0;

    img {
      height: 30px;
    }
  }

  .nav,
  .user {
    margin: 0 auto;

    img {
      color: black;
      width: 26px;
    }

    ul {
      list-style-type: none;
      display: flex;

      li {
        white-space: nowrap;

        &:hover {
          color: var(--hs-blue);
        }
      }
    }
  }

  .nav {
    display: none;

    ul {
      li {
        a {
          display: inline-block;
          padding: 0.8rem;
        }
      }
    }

    @include s() {
      display: flex;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    .user {
      margin: 13px;
      height: 28px;

      ul {
        li {
          padding: 0.8rem;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }

    .hamburger {
      margin: 0;
      height: 24px;

      @include s() {
        display: none;
      }
    }
  }
}

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw;
  animation: growOut 500ms ease-in-out forwards;
  transform-origin: top center;
  background-color: white;

  > div {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;

    a {
      margin: 2vh 2rem;

      @include m-h1();
      font-weight: 400;
    }

    > div {
      margin: 2vh 2rem;

      h3 {
        @include h5();
        font-weight: 500;

        @include s() {
          font-weight: 400;
        }

        margin-bottom: 1vh;
      }

      p {
        font-weight: 500;
        margin-bottom: 1rem;

        a {
          text-decoration: underline;
          margin: 1rem 0rem;
          @include h7();
          font-weight: 500;
        }
      }
    }
  }

  @keyframes growOut {
    0% {
      transform: scale(0);
      height: 0%;
      opacity: 0;
    }

    50% {
      transform: scale(0);
      height: 50vh;
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      height: 100vh;
      opacity: 1;
    }
  }
}

.testPopup {
  height: 100vh;
  z-index: 10;

  > div {
    margin: 25vh 1rem;
    text-align: center;

    @include s() {
      margin: 30vh 1rem;
    }

    h2 {
      @include h5();
      margin-bottom: 1rem;

      @include s() {
        @include h4();
      }
    }
  }
}
