@import "client/styles/imports/index.scss";

.button {
  cursor: pointer;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  display: inline-block;
  background-color: var(--color-primary);
  padding: 0.8rem 1rem;
  color: var(--color-white);
  text-transform: uppercase;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  @include m-h7();
  @include s() {
    @include h7();
    font-weight: 500;
  }
  font-weight: 600;

  transition: background-color 0.3s ease-out;

  &:disabled {
    background-color: lightgray;
    opacity: 0.7;
    pointer-events: none;
  }
  &.success {
    background-color: var(--color-positive);
  }
  &.error {
    background-color: var(--color-negative);
  }
}
