@import "./variables.scss";

// Notes:
// - Everything is S by default
// - Other queries are allowed
// - Often used should be added

// xxxs
@mixin xxxs {
  @media (min-width: 0) {
    @content;
  }
}

@mixin xxxs-range {
  @media (min-width: 0) and (max-width: $xxs) {
    @content;
  }
}

// xxs
@mixin xxs {
  @media (min-width: $xxs) {
    @content;
  }
}

@mixin xxs-range {
  @media (min-width: $xxs) and (max-width: $xs) {
    @content;
  }
}

// xs
@mixin xs {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin xs-range {
  @media (min-width: $xs) and (max-width: $s) {
    @content;
  }
}

// s
@mixin s {
  @media (min-width: $s) {
    @content;
  }
}

@mixin s-range {
  @media (min-width: $s) and (max-width: $m) {
    @content;
  }
}

// s-m
@mixin s-m {
  @media (min-width: $s-m) {
    @content;
  }
}

@mixin s-m-range {
  @media (min-width: $s-m) and (max-width: $m) {
    @content;
  }
}

// m
@mixin m {
  @media (min-width: $m) {
    @content;
  }
}

@mixin m-range {
  @media (min-width: $m) and (max-width: $l) {
    @content;
  }
}

// l
@mixin l {
  @media (min-width: $l) {
    @content;
  }
}

@mixin l-range {
  @media (min-width: $l) and (max-width: $xl) {
    @content;
  }
}

// xl
@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin xl-range {
  @media (min-width: $xl) and (max-width: $xxl) {
    @content;
  }
}

// xxl - no range (xxl - infinity)
@mixin xxl {
  @media (min-width: $xxl) {
    @content;
  }
}

// Range mediaquery
@mixin mq-range($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

// Down media query
@mixin mq-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

// Up media query
@mixin mq-up($width) {
  @media (min-width: $width) {
    @content;
  }
}
