@mixin h1 {
  font-size  : 50px;
  font-weight: 700;
  line-height: 1.2em;
}

@mixin h2 {
  font-size  : 40px;
  font-weight: 600;
  line-height: 1.2em;
}

@mixin h3 {
  font-size  : 35px;
  font-weight: 700;
  line-height: 1.2em;
}

@mixin h4 {
  font-size  : 30px;
  font-weight: 600;
  line-height: 1.2em;
}

@mixin h5 {
  font-size  : 25px;
  font-weight: 400;
  line-height: 1.2em;
}

@mixin h6 {
  font-size  : 20px;
  font-weight: 300;
  line-height: 1.2em;
}

@mixin h7 {
  font-size  : 16px;
  font-weight: 400;
  line-height: 1.2em;
}

@mixin h8 {
  font-size  : 16px;
  font-weight: 600;
  line-height: 1.2em;
}

@mixin m-h1 {
  font-size  : calc(50px / 100 * 70);
  font-weight: 700;
  line-height: 1.2em;
}

@mixin m-h2 {
  font-size  : calc(40px / 100 * 80);
  font-weight: 800;
  line-height: 1.2em;
}

@mixin m-h3 {
  font-size  : calc(35px / 100 * 80);
  font-weight: 700;
  line-height: 1.2em;
}

@mixin m-h4 {
  font-size  : calc(30px / 100 * 80);
  font-weight: 600;
  line-height: 1.2em;
}

@mixin m-h5 {
  font-size  : calc(25px / 100 * 80);
  font-weight: 400;
  line-height: 1.2em;
}

@mixin m-h6 {
  font-size  : calc(20px / 100 * 80);
  font-weight: 300;
  line-height: 1.2em;
}

@mixin m-h7 {
  font-size  : calc(16px / 100 * 80);
  font-weight: 400;
  line-height: 1.2em;
}

@mixin m-h7 {
  font-size  : calc(16px / 100 * 80);
  font-weight: 600;
  line-height: 1.2em;
}
