/*
    These variables are used in media-queries. All other variables need to
    be css-variables and should be defined in globals.scss.

    The reason that there are sass-variables is that css-variables aren't
    supported in media-queries (yet i guess).
*/

// BreakPoins
$xxs: 320px;
$xs: 636px;
$s: 730px;
$s-m: 1000px;
$m: 1250px;
$l: 1380px;
$xl: 1600px;
$xxl: 1920px;
