@import "client/styles/imports/index.scss";

.hero {
  min-height: 80vh;
  position: relative;

  img {
    height: calc(100vh - 54px);
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
  }

  .content,
  .curved {
    position: absolute;
    top: 0;
    text-align: center;
    max-width: 1300px;
    display: grid;
    align-content: flex-end;
    padding-bottom: 10vh;
    padding: 1rem 1rem 10vh;
    height: 80vh;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: 0 auto;

    h1 {
      @include h1();
      background-color: rgba(white, 0.5);
      padding: 1rem 0;
      border-radius: 5px;

      @include s() {
        width: fit-content;
        padding: 1rem;
        margin: 0 auto;
      }
    }

    p {
      @include h7();
    }

    .title {
      margin-bottom: 1rem;
    }

    .body {
      margin-bottom: 1rem;
    }

    .button {
      margin-bottom: 0;
    }
  }

  .curved {
    max-width: 500px;
    align-content: center;
  }

  .faq {
    h1 {
      background-color: unset;
    }
  }

  .contact {
    h1 {
      background-color: unset;
    }
  }

  .zorgaanbieders {
    h1 {
      background-color: unset;
    }
  }

  @include s() {
    .home {
      > div {
        margin: 0 auto 0 15%;
      }

      a {
        background-color: var(--hs-purple);
      }
    }

    .faq {
      > div {
        height: 100%;
        align-content: flex-end;
        justify-content: flex-start;
        padding-left: 10rem;
        padding-bottom: 12rem;
      }
    }

    .algemenevoorwaarden {
      height: 20%;
    }
  }

  @media only screen and (max-width: 730px) {
    .curved {
      margin: 0 auto;
    }

    .home {
      img {
        content: url("/images/hero/phonepump.png");
      }

      a {
        background-color: var(--hs-purple);
      }
    }

    .faq {
      img {
        content: url("/images/hero/phonefaq.png");
      }
    }

    .contact {
      img {
        content: url("/images/hero/phonecontact.png");
      }
    }

    .zorgaanbieders {
      img {
        content: url("/images/hero/hero_zorgaanbieders_mobile.jpg");
      }
    }
  }
}

// stuff to fix
// mobile image on smaller devices
// Faq,
